# building for kio since node v15 doesn't work :)


## JustEmuTarkov - Server


## visual studio
.vscode
.vs
.idea
slnx.sqlite
slnx-journal.sqlite

## nodejs
node_modules
node.exe
## if you dont want to push cache folders
user/cache
# ignore cache backup folder
## windows
desktop.ini